.test {
    text-align: center;
}

p{
    font-weight: bold;
}

button {
    color: aqua;
    background-color: purple;
    height: 45px;
    width: 120px;
    font-size: 20px;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#viewHighScores {
    color: rgb(249, 42, 228);
}

/* The below will be the basis for the buttons of the questions */
/* .form {
    display: flex;
    justify-content: space-around;
}
form {
    display: flex;
    flex-direction: column;
} */

#testForm,
#testForm2,
#testForm3,
#testForm4,
#testForm5 {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}




input {
    margin: 5px;
    color: aqua;
    background-color: purple;
    height: 45px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    text-align: start;
}

#results {
    text-align: center;
    visibility: hidden;
}

#initials {
    display: none;
    align-items: center;
    justify-content: center;
}

textarea {
    font-size: 24px;
}